.home__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
}
.home__row {
  display: flex;
  z-index: 1;
  margin-right: 5px;
  margin-left: 5px;
}

.home__image {
  width: 100%;
  z-index: -10;
  /* margin-bottom: -80vh;  */
}
