.home__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  background-color: black;
}
.home__row {
  display: flex;
  z-index: 1;
  margin-right: 50px;
  margin-left: 50px;
}

.home__image {
  width: 100%;
  z-index: -10;
  margin-bottom: -120vh;
  background: black;
}
